<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jh.shiro.dao.TeacherDao">
    <insert id="addTeacherInfo" parameterType="teacherEntity">
        insert into teacher(id,name,salary) values(f_newid('teacher'),#{name},#{salary})
    </insert>
</mapper>